<form method="post" action="/new">
    <label for="">Mensaje</label>
    <input name="message" type="text">
    <label for="">Usuario</label>
    <input name="user" type="text">
    <button type="submit">Enviar</button>
</form>